MONGODB_URI=mongodb://localhost:27017/crypto-store
JWT_SECRET=me-gusta-alguien-colorada
ADMIN_EMAIL=franjavikac456@gmail.com
ADMIN_PASSWORD=frankac4430
ADMIN_NAME=Admin NexCrypto
ADMIN_USERNAME=@admin
ADMIN_PHONE=
